Exp1/README
Exp1/src/trec06p/data/*
Exp1/src/trec06p/label/*
Exp1/src/cross_validation/*

Exp2/README
Exp2/ML_lab2_report.pdf
Exp2/src/models/*

Exp3/README
Exp3/ML_lab3_report.pdf
Exp3/src/models/*
Exp3/src/data/*
